p.warning-text {
  color: #db2828;
}
div.left-menu{
  background-color: #212529;
}

div.right-menu{
   margin-left: 2%;
}

div.info {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 2%;
}
div.info h1 {
  color: #000000;
  text-align: center;
}

div.info p{
  text-indent: 1.5em;
  font-size: 20px;
}
div.info b{
  color: ##ffc029;
}

h1 {
  color: #ffffff;
  text-align: center;
}

img.size-100-200 {
  height: 200px;
}

img.size-200-200 {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

button.submit-212529{
  background-color: #212529;
  color: #ffffff;
}

button.submit-212529:hover{
  background-color: #212529;
  color: #ffffff;
}

div.card-item{
  /* position: absolute; */
  background-color: #ffffff;
  width: 18rem;
  height: 32rem;
  margin-left: 4%;
  margin-top: 3%;
  border: 1px solid #212529;
  border-radius: 4px;
}

div.card-item:hover{
  width: 19.25rem;
  height: 33rem;
  margin: 1%;
}


/*Контакты*/
div.review {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #212529;
  color: #ffffff;
}
div.review div.container{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffc029;
  color: #000000;
}
div.review-block {
  padding-top: 1%;
  padding-bottom: 2%;
}
div.review-block div.container{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #212529;
  color: #000000;
  padding-bottom: 1%;
}
div.review-card {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}
/*Авторизация*/

.container-center{
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #212529;
  color: #ffffff;
  border-radius: 15px;
}
@media only screen and (max-width: 479px){
.container-center{
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #212529;
  color: #ffffff;
  border-radius: 0px;
}
}
.form-horizontal{
  position: relative;
  top: 20%;
  /* left: 100%; */
  margin-left: 100%;
  margin-right: -50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin-top: 22%;
  margin-bottom: 22%;
  background: #212529;
  padding-bottom: 60px;
  border-radius: 15px;
  text-align: center;
}
.form-horizontal .heading{
 display: block;
 font-size: 35px;
 font-weight: 700;
 padding: 35px 0;
 border-bottom: 1px solid #f0f0f0;
 margin-bottom: 30px;
}
.form-horizontal .form-group{
 padding: 0 40px;
 margin: 0 0 25px 0;
 position: relative;
}
.form-horizontal .form-control{
 background: #f0f0f0;
 border: none;
 border-radius: 20px;
 box-shadow: none;
 padding: 0 20px 0 45px;
 height: 40px;
 transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
 background: #e0e0e0;
 box-shadow: none;
 outline: 0 none;
}
.form-horizontal .form-group i{
 position: absolute;
 top: 12px;
 left: 60px;
 font-size: 17px;
 color: #c8c8c8;
 transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
 color: #00b4ef;
}
.form-horizontal .fa-question-circle{
 display: inline-block;
 position: absolute;
 top: 12px;
 right: 60px;
 font-size: 20px;
 color: #808080;
 transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
 color: #000;
}
.form-horizontal .main-checkbox{
 float: left;
 width: 20px;
 height: 20px;
 background: #11a3fc;
 border-radius: 50%;
 position: relative;
 margin: 5px 0 0 5px;
 border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 0;
 left: 0;
 cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
 content: "";
 width: 10px;
 height: 5px;
 position: absolute;
 top: 5px;
 left: 4px;
 border: 3px solid #fff;
 border-top: none;
 border-right: none;
 background: transparent;
 opacity: 0;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
 visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
 opacity: 1;
}
.form-horizontal .text{
 float: left;
 margin-left: 7px;
 line-height: 20px;
 padding-top: 5px;
 text-transform: capitalize;
}
.form-horizontal .btn{
 float: right;
 font-size: 14px;
 color: #fff;
 background: #00b4ef;
 border-radius: 30px;
 padding: 10px 25px;
 border: none;
 text-transform: capitalize;
 transition: all 0.5s ease 0s;
}
/* @media only screen and (max-width: 479px){
  .form-horizontal{
    top: 20%;
  }
 .form-horizontal .form-group{

 padding: 0 25px;
 }
 .form-horizontal .form-group i{
 left: 45px;
 }
 .form-horizontal .btn{
 padding: 10px 20px;
 }
} */

.tab {
    margin-top: 1%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #ffffff;
}

h3{
  text-align: center;
}

footer {
     /* margin-top: 1%; */
 }
