div.review {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #212529;
  color: #ffffff;
}
div.review div.container{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffc029;
  color: #000000;
}
div.review-block {
  padding-top: 1%;
  padding-bottom: 2%;
}
div.review-block div.container{
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #212529;
  color: #000000;
  padding-bottom: 1%;
}
div.review-card {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

div.info {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
}
div.info h1 {
  color: #000000;
  text-align: center;
}

p{
  text-indent: 1.5em;
  font-size: 20px;
}
b{
  color: ##ffc029;
}
